
/* Fonts */
/* 
font-family: 'Dancing Script', cursive;
font-family: 'Gloock', serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'JetBrains Mono', monospace;
font-family: 'Lacquer', cursive;
font-family: 'Lato', sans-serif;
 */

@media only screen and (max-width: 768px) {
    body{
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) {
    body{
        font-size: 16px;
    }
}


@font-face {
    font-family: 'falloutNormal';
    src: url('Overseer-Font\\Overseer.otf') format('opentype');
    
}

@keyframes a{
    0% {
        background-color: orange;
    }
    33.3% {
        background-color: blue;
    }
    66.6% {
        background-color: green;
    }
    100% {
        background-color: orange;
    }
  }

#SocialMediaBreadcrums > li{
    list-style-type: none;
}

#logo {
    position: absolute;
}

body {
    background-color: #212122;
    font-family: 'Jetbrains mono', monospace;
}

#container {
    color: #2c4155;
    max-width: 768px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
    
}

h2 {
    text-align: start;
    background-color: white;
    max-width: 768px;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid #000000;
    box-shadow: 3px 3px 1px 1px #000000;
    padding: 25px 10px;
}

p {
    text-align: start;
    color: black;
    background-color: white;
    max-width: 700px;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid #000000;
    box-shadow: 1px 1px 1px 1px #000000;
    padding: 25px 10px;
}



h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30px;
}

#header{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: large;
    color: #050e17;
}

h1 {
    border-bottom: 2px solid #000306;
}
#portfolio {
    color: #1b2024;
}
body {
    background-color: #fff0e5;
}

/* Reset default button styles */
button, input[type="button"], input[type="submit"], input[type="reset"] {
    /* Reset default styles */
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    /* Apply custom styles */
    /* Add your own custom styles here */
    display: block;
    border: 1px solid black;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
  }
  

button:hover{
    background-color: #4281bb;   
    cursor: pointer; 
    color: aliceblue;
}

.colorWhite {
    color: white;
    text-shadow: 1px 1px black;
}

.blueBtn{
    border-color: darkblue; 
    box-shadow: 1px 1px 1px 1px black;
    background: linear-gradient(45deg, white, lightblue, blue);

}

.yellowGreenBtn{
    border-color: darkblue; 
    box-shadow: 1px 1px 1px 1px black;
    background: linear-gradient(45deg, 
    lightblue, yellow
    );
}

.HotBtn{
    border-color: darkblue; 
    box-shadow: 1px 1px 1px 1px black;
    background: linear-gradient(45deg, 
    red, yellow
    );
    color: black;
}


.EnderBtn{
    border-color: darkblue; 
    box-shadow: 1px 1px 1px 1px black;
    background: linear-gradient(45deg, 
    white, rgb(181, 51, 181), rgba(255, 255, 255, 0.952)
    );
    color: wheat;
    text-shadow: 1px 1px black;
}

pre code {

    color: black;
    font-family: 'Courier New', Courier, monospace;
}
pre {
    background-color: #eaf0f5;
    padding: 10px;
}

